<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="coopdbConnectionString"
            connectionString="Data Source=IK-PC\SQLEXPRESS;Initial Catalog=coopdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>