<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- Pablo PC ConnectionString -->
  <!-- add name="coopdbConnectionString"
            connectionString="Data Source=PABLO-PC\SQLEXPRESS;Initial Catalog=coopdb;Integrated Security=True"
            providerName="System.Data.SqlClient" / -->
        <!-- Jayson PC ConnectionString -->  
  <add name="coopdbConnectionString"
            connectionString="Data Source=SONIC-PC\SONIC;Initial Catalog=coopdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>